*,*::before,*::after {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  padding: 0;
  
}

h1 {
  text-align: center;

}

.container {
  margin: 0 auto;
  max-width: 960px;
  display: flex;
  flex-wrap: wrap;
}

.box {
  border: 1px solid #000;
  width: 60px;
  height: 60px;
  flex: 1 0 6.25%;
}