*,*::before,*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
 
  padding: 0;
  
}

h1 {
  text-align: center;

}

.container {
  margin: 0 auto;
  max-width: 960px;
  display: flex;
  flex-wrap: wrap;
}

.inputContainer {
  display: flex;
  justify-content: center;
  margin: 20px;
}
input {
  width: 25%;
  padding: 10px;
  border: 1px solid #000;
  
}

.box {
  border: 1px solid #000;
  width: 60px;
  height: 60px;
  flex: 1 0 6.25%;
}